

function Main 1 1

    push constant fffffffd
    push constant 0
    lt

    (Debug)
    goto Debug
    if-goto TrueCondition
    goto FalseCondition

    (TrueCondition)
    push constant 1
    push constant 2
    push constant 3
    
    goto End
    (FalseCondition)
    push constant 4
    push constant 5
    push constant 6

    (End)

    (forever)
    goto forever