function Memory.mainTest 2 0
call Memory.init 0 0
pop local 0
(whileStatementStart_1)
push constant 1
if-goto whileTrueStatement_1
goto whileEndStatement_1
(whileTrueStatement_1)
goto whileStatementStart_1
(whileEndStatement_1)


function Memory.init 0 0
push constant 7000
pop static 0
push constant 0
return


