function Math.main 4 0
push constant 9
pop local 0
push constant 6
pop local 1
push local 0
push local 1
call Math.min 1 2
pop local 2
push local 0
push local 1
call Math.max 1 2
pop local 3
(whileStatementStart_1)
push constant 1
if-goto whileTrueStatement_1
goto whileEndStatement_1
(whileTrueStatement_1)
goto whileStatementStart_1
(whileEndStatement_1)


function Math.max 1 2
push argument 0
pop local 0
push argument 1
push argument 0
gt
if-goto ifTrueStatement_2
goto ifFalseStatement_2
(ifTrueStatement_2)
push argument 1
pop local 0
goto ifEndStatement_2
(ifFalseStatement_2)
(ifEndStatement_2)
push local 0
return


function Math.min 1 2
push argument 0
pop local 0
push argument 1
push argument 0
lt
if-goto ifTrueStatement_3
goto ifFalseStatement_3
(ifTrueStatement_3)
push argument 1
pop local 0
goto ifEndStatement_3
(ifFalseStatement_3)
(ifEndStatement_3)
push local 0
return


