function Math.main 2 0
push constant 1
pop local 0
push constant 0
pop local 1
(whileStatementStart_1)
push local 1
push constant 99
lt
if-goto whileTrueStatement_1
goto whileEndStatement_1
(whileTrueStatement_1)
push constant 500
push local 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
push local 1
push constant 1
add
pop local 1
goto whileStatementStart_1
(whileEndStatement_1)


