function Memory.mainTest 3 1
push argument 0
call Memory.init 1 1
pop static 0
push constant 100
call Memory.allocate 1 1
pop local 0
push constant 20
call Memory.allocate 1 1
pop local 1
(whileStatementStart_1)
push constant 1
if-goto whileTrueStatement_1
goto whileEndStatement_1
(whileTrueStatement_1)
goto whileStatementStart_1
(whileEndStatement_1)


function Memory.allocate 1 1
push static 0
pop local 0
push static 0
push argument 0
add
pop static 0
push local 0
return


function Memory.init 1 1
push constant 7000
pop static 0
push static 0
return


